.language-selector {
  position: relative;
  display: flex;
  align-items: center;
}

.language-dropdown {
  width: 19px;
  height: 18px;
  background: transparent;
  border: none;
  font-family: Inter;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  color: black;
  cursor: pointer;
  appearance: none;
  opacity: 1;
}

.dropdown-icon {
  display: none;
}